body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  text-decoration: none;
  width: 1440px;
}
img {
  display: block;
}
.page-header {
  margin-bottom: 0;
  border-bottom: 1px solid #e7e9fc;
}
.page-flex-container {
  display: flex;
  justify-content: space-between;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.navigation {
  display: flex;
  color: #2e2f42;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}
.logol {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-right: 76px;
  align-items: center;
}
.logoll {
  color: #2e2f42;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
}
.logolll {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-bottom: 16px;
}
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.tabs-ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
.tabs {
  text-decoration: none;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}
.tabs:hover {
  color: #404bbf;
}
.tabs:focus {
  color: #404bbf;
}
.contact-li:hover {
  color: #404bbf;
}
.contact-li:focus {
  color: #404bbf;
}
.contact-li {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.contact {
  font-style: normal;
  align-items: center;
  display: flex;
}
.contact-ul {
  display: flex;
  gap: 40px;
}
.section-hero {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #2e2f42;
  flex-shrink: 0;
  text-align: center;
  padding: 188px 0;
}
.title-hl {
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
  margin-top: 0;
  margin-bottom: 0;
}
.button-l {
  margin-top: 48px;
  cursor: pointer;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  height: 56px;
  border: none;
  border-radius: 4px;
}
.button-l:hover {
  background-color: #404bbf;
}
.button-l:focus {
  background-color: #404bbf;
}
.section-features {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.features-li {
  margin: 0;
}
.title-hlll {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 8px;
}
.psl {
  margin-top: 0;
  margin-bottom: 0;
  width: 264px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.section-team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}
.team-li {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.team-name {
  padding: 32px 0;
}
.title-hll {
  margin-top: 0;
  margin-bottom: 72px;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.title-hslll {
  padding-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.pslll {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-align: center;
}

.list-team {
  background: #fff;
  border-radius: 0px 0px 4px 4px;
}

.section-lv {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-title {
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 72px;
  color: #2e2f42;
  text-align: center;
  /* Header 2 */
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.porttfolio-ul {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}
.product-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
align-self: stretch; 
}
.tslv {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.pslv {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 0;
}
p {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}
h3 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
h2 {
  font-size: 36px;
}
.footer-set {
  background-color: #2e2f42;
  margin-top: 0;
  margin-bottom: 0;
  padding: 100px 0;
}
.logo-footer{
color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
  align-items: center;
}
.pfooter {
  width: 264px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 0;
}
