body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  text-decoration: none;
  align-items: center;
}
img {
  display: block;
}
.page-header {
  margin-bottom: 0;
  border-bottom: 1px solid #e7e9fc;
}
.page-flex-container {
  display: flex;
  justify-content: space-between;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.navigation {
  display: flex;
  color: #2e2f42;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}
.logol {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-right: 76px;
  align-items: center;
}
.logoll {
  color: #2e2f42;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
}
.logolll {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-bottom: 16px;
}
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.tabs-ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
.tabs {
  text-decoration: none;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}
.tabs:hover {
  color: #404bbf;
}
.tabs:focus {
  color: #404bbf;
}
.contact-li:hover {
  color: #404bbf;
}
.contact-li:focus {
  color: #404bbf;
}
.contact-li {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.contact {
  font-style: normal;
  align-items: center;
  display: flex;
}
.contact-ul {
  display: flex;
  gap: 40px;
}
.section-hero {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url(../images/hero-image.png);
  flex-shrink: 0;
  text-align: center;
  padding: 188px 0;
}
.features-container {
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
}
.anten {
  margin: 24px 100px;
}
.cloc {
  margin: 24px 100px;
}
.diagra {
  margin: 24px 100px;
}
.astro {
  margin: 24px 100px;
}

.title-hl {
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
  margin-top: 0;
  margin-bottom: 0;
}
.button-l {
  margin-top: 48px;
  cursor: pointer;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  height: 56px;
  border: none;
  border-radius: 4px;
}
.button-l:hover {
  background-color: #404bbf;
}
.button-l:focus {
  background-color: #404bbf;
}
.section-features {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.features-li {
  margin: 0;
}
.title-hlll {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.psl {
  margin-top: 0;
  margin-bottom: 0;
  width: 264px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.section-team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}
.team-li {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.team-name {
  padding: 32px 0;
}
.title-hll {
  margin-top: 0;
  margin-bottom: 72px;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.title-hslll {
  padding-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.pslll {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-align: center;
}

.list-team {
  background: #fff;
  border-radius: 0px 0px 4px 4px;
}
.social-container {
  display: flex;
  justify-content: center;
}
.icons {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
}
.icons-container {
  display: flex;
  gap: 24px;
}
.instag {
  fill: #f4f4fd;
  line-height: 0;
}
.icon-a{
display: flex;
}
.section-lv {
  padding-top: 120px;
  padding-bottom: 120px;
}
.product-box{
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background-color: #bdbdbd;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3f51b5;
  transform: translatey(100%);
  transition: transform 250ms ease-in-out;
}
.overlay p {
  color: #fff;
  padding: 40px 32px 164px 32px;
  margin: 0;
  font-size: 18px;
}
.product-box:hover .overlay {
  transform: translatey(0);
}
.portfolio-title {
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 72px;
  color: #2e2f42;
  text-align: center;
  /* Header 2 */
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.porttfolio-ul {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}
.portfolio-li:hover{
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.product-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}
.tslv {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.pslv {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 0;
}
p {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}
h3 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
h2 {
  font-size: 36px;
}
.footer-set {
  background-color: #2e2f42;
  margin-top: 0;
  margin-bottom: 0;
  padding: 100px 0;
  display: flex;
}
.footer-container{
  display: flex;
  gap: 16px;
}
.logo-footer {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
  align-items: center;
}
.pfooter {
  width: 264px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 0;
}
.social-footer{
  color: var(--WHITE, #FFF);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
.footer-social-container{
  margin-left: 120px;
}